@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); /* import the link from google outfit font */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit; /* This is the font style  from google outfit*/
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
 .app{ /*hole the page widht and margin */
  width: 80%;
  margin: auto;
}

/* After reload the page insert some fadding  */
@keyframes fadeIn{
   0%{
    opacity: 0;
   }
   100%{
    opacity: 1;
   }
}
/* add this into header.css */